doctype 5
html
  head
    script(src='/javascripts/jquery-min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/validate-min.js')
    
        
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/tip/tipTip.css')
    
    link(rel='shortcut icon', href='/images/logo_small.jpg', type='image/x-icon')

    
    title= title
    
  body
    block content
     
