        br             
        div
            a.miesiac miesiąc: #{miesiac}
            
            table.tab
                thead
                        th.lp Lp. 
                        th.numer Nr faktury
                        th.data Data wystawienia
                        th.data Data wykonania usługi
                        th.numer Numer identyfikacyjny
                        th.nazwa Nabywca nazwa (imię i nazwisko)
                        th.nazwa Nabywca adres(siedziba)
                        th.nazwa BEZRACHUNKOWA SPRZEDAŻ BRUTTO (do rozliczenia wg stawek VAT zgodnie z art.. 30 ustawy)
                        th.numer Wartość sprzedaży brutto
                        th.numer Stawka 23% netto
                        th.numer Stawka 23% vat
                        th.numer Stawka 7% netto
                        th.numer Stawka 7% vat
                        th.numer Stawka 0% netto
                        th.numer Stawka 0% vat
                        th.nazwa SPRZEDAŻ OPODATKOWANA OBJĘTA CZĘŚCIOWYM ZANIECHANIEM USTALANIA ZOBOWIĄZAŃ PODATKOWYCH I POBORU PODATKU